<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "The Coder Factory" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "The Coder Factory" %>">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>
<body>
	<%= render 'layouts/navigation' %>
	<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
	<div class="container">
		<%= yield %>
	</div>

</body>
</html>
